:root {
  --main-color: #006837;
  --hover-color: #008145;
  --background-color: #000d04;
  --navbar-color: #000d049d;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: var(--background-color);
  color: white;
  overflow-x: hidden;
}

h1 {
  font-weight: 100;
  font-size: 2em;
}

button {
  transition: all 0.2s ease-out;
}

button:hover,
button:focus,
button:active {
  background-color: var(--hover-color);
  cursor: pointer;
  transform: scale(1.1);
}

.siteWrapper {
  position: relative;
  min-height: 100vh;
}

.contentWrapper {
  padding-bottom: 8em;
}

main {
  margin-top: 2em;
}
/* Post sides --------------------------------------------- */
#upcomingEvents.allPosts {
  padding-bottom: 3em;
}

main.post {
  text-align: center;
  margin-top: auto;
  margin-right: 20%;
  margin-left: 20%;
}

.post section {
  padding: 2em;
  text-align: left;
}

.post p {
  padding-top: 1em;
  padding-bottom: 1em;
}

main.post img:first-of-type {
  height: 400px;
  width: 400px;
  border-radius: 30px;
}

main.post img.aboutImg:first-of-type {
  height: 100%;
  width: 600px;
  border-radius: 30px;
}

.post .upcomingEventsHeader {
  text-align: center;
}

/* Navbar ---------------------------------------------------- */
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
  padding: 1em;
  background-color: var(--navbar-color);
}

nav a:first-child {
  margin-right: auto;
  padding-left: 1em;
}

nav.post {
  z-index: 0;
  position: static;
  padding-right: 0;
  width: 100%;
}

.navbarLogo {
  position: relative;
  top: 25%;
  width: 100%;
  min-width: 135px;
  max-width: 135px;
}

.eventsNav,
.contactNav {
  margin-right: 2em;
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 10px;
  opacity: 90%;
  text-shadow: #0000004d 2px 5px;
  transition: all 0.2s ease-out;
}

.eventsNav:hover,
.eventsNav:focus,
.eventsNav:active,
.contactNav:hover,
.contactNav:focus,
.contactNav:active {
  transform: scale(1.1);
  background-color: var(--hover-color);
}

/* Landing --------------------------------------------------- */
.landingSection {
  background-image: url('../images/landing.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callsToAction {
  position: relative;
  text-align: right;
  top: 50%;
  right: 5em;
}

.upcomingEventsBtn,
.contactUsBtn {
  font-family: inherit;
  font-weight: 100;
  font-size: 2em;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 0.5em 1.2em;
  margin-top: 3em;
}

.upcomingEventsBtn span,
.contactUsBtn span {
  opacity: 90%;
  text-shadow: #0000004d 2px 5px;
}

.upcomingEventsBtn {
  margin-right: 1em;
}

.logoNoBackground {
  fill: white;
  width: 40%;
}

/* Upcoming Events --------------------------------------------------- */

.upcomingEventsHeader {
  text-align: right;
  font-size: 4em;
  padding: 0.5em 0.5em;
}

section#upcomingEvents .upcomingEventsHeader {
  padding-bottom: 0;
}

h3.viewAllLink {
  font-weight: 100;
  text-align: right;
  padding-right: 2em;
  padding-bottom: 2em;
}

h3.viewAllLink a {
  color: white;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3em;
  justify-items: center;
}

.eventCard {
  text-align: left;
  max-width: min-content;
  font-weight: 300;
  transition: all 0.2s ease-out;
}

.eventCard h3 {
  padding: 0.1em 0 0.5em 0;
  font-size: 130%;
  font-weight: 900;
  text-shadow: #0000004d 2px 5px;
}

.eventCard h3 span {
  background-color: var(--main-color);
  padding-left: 0.1em;
  padding-right: 0.3em;
}

.eventCard > img {
  height: 400px;
  width: 400px;
  border-radius: 30px;
}

.eventCard p:nth-of-type(1) {
  font-weight: 100;
  letter-spacing: 10%;
}

.eventCard p:nth-of-type(2) {
  opacity: 90%;
}

.eventCard a {
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 1.3em;
  padding: 0.5em;
  border-radius: 5px;
  opacity: 90%;
  text-shadow: #0000004d 2px 5px;
  transition: all 0.2s ease-out;
  background-color: var(--main-color);
}

.eventCard a:hover,
.eventCard a:focus,
.eventCard a:active {
  cursor: pointer;
  background-color: var(--hover-color);
  transform: scale(1.1);
}

.eventCard:hover,
.eventCard:focus,
.eventCard:active {
  transform: scale(1.05);
}

/* Contact Us --------------------------------------------------------------- */
#contactUs {
  margin-top: 2em;
}

#contactUs h1 {
  padding-top: 0.4em;
}

.contactUsWrapper {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-color);
}

.contactUsWrapper article {
  text-align: center;
  font-size: 100%;
  padding: 2.5em;
}

.contactUsWrapper article a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  font-weight: 100;
  font-size: 150%;
  transition: all 0.2s ease-out;
  margin-top: 0.3em;
  border-radius: 5px;
  background-color: var(--hover-color);
}

.contactUsWrapper article a:hover,
.contactUsWrapper article a:focus,
.contactUsWrapper article a:active {
  transform: scale(1.1);
}

/* Footer */
footer {
  position: absolute;
  padding-top: 1em;
  background-color: var(--hover-color);
  text-align: center;
  font-weight: 100;
  width: 100%;
  bottom: 0;
}

footer p {
  padding: 0.5em;
}

footer a {
  color: white;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials p {
  font-size: 200%;
  font-weight: 300;
  padding: 0.3em;
}

.socials i {
  display: inline;
  font-size: 300%;
  opacity: 90%;
  padding: 0.4em;
}

.socials a {
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.socials a:hover,
.socials a:focus,
.socials a:active {
  transform: scale(1.1);
}

/* Pagination -------------------------------------*/

.paginationWrapper {
  display: flex;
  justify-content: center;
}

.paginationWrapper:first-of-type {
  padding-bottom: 2em;
}

.paginationWrapper:last-of-type {
  padding-top: 2em;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
  padding: 2em 0 2em 0;
}

.pagination li a {
  background-color: var(--main-color);
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
  border: var(--hover-color) 1px solid;
  color: white;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: var(--hover-color);
}

li.activePaginationLink a {
  background-color: #00924e;
}

li.disabledPagination a {
  border-color: #00160c;
  background-color: #00160c;
}

li.disabledPagination a:hover {
  cursor: default;
}

/* Responsivness */

@media screen and (max-width: 1204px) {
  .eventCard > img {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    max-height: 40px;
  }

  .navbarLogo {
    padding-left: 0rem;
    min-width: 80px;
    max-width: 90px;
  }

  nav a:first-child {
    padding-left: 0;
  }

  .eventsNav,
  .contactNav {
    margin-right: 1em;
    padding: 0.5em 0.3em;
    font-size: 1.1em;
  }

  .eventsNav {
    margin-right: 0em;
  }

  .landingSection {
    background-position: 20%;
  }

  .callsToAction {
    text-align: center;
    top: 70%;
    right: 0em;
  }

  .upcomingEventsHeader {
    font-size: 3em;
  }

  h3.viewAllLink {
    padding-right: 1.5em;
    padding-bottom: 1.5em;
  }

  .upcomingEventsBtn,
  .contactUsBtn {
    font-size: 1.8em;
    margin-top: 0;
  }

  .upcomingEventsBtn {
    margin-right: 0em;
  }

  .contactUsBtn {
    margin-top: 1em;
  }

  .logoNoBackground {
    display: none;
  }

  .events {
    grid-template-columns: 1fr;
  }

  .eventCard {
    padding-top: 4em;
  }

  .eventCard:first-child {
    padding-top: 1em;
  }

  .contactUsWrapper {
    flex-direction: column;
  }

  .socials p {
    display: none;
  }

  .socials i {
    font-size: 270%;
  }

  main.post {
    margin-left: auto;
    margin-right: auto;
  }

  main.post img:first-of-type {
    height: 300px;
    width: 300px;
  }

  main.post img.aboutImg:first-of-type {
    width: 300px;
    border-radius: 30px;
  }

  @media screen and (min-width: 500px) {
    main.post img.aboutImg:first-of-type {
      width: 450px;
      border-radius: 30px;
    }
  }

  @media screen and (max-height: 800px) {
    .logoNoBackground {
      padding-bottom: 20em;
    }
  }

  @media screen and (max-height: 600px) {
    .logoNoBackground {
      padding-bottom: 15em;
    }
  }
}

@media screen and (max-width: 300px) {
  .eventCard > img {
    height: 200px;
    width: 200px;
  }
  main.post img:first-of-type {
    height: 200px;
    width: 200px;
  }
  main.post img.aboutImg:first-of-type {
    width: 200px;
    border-radius: 30px;
  }
}

@media screen and (min-width: 2000px) {
  .eventCard > img {
    height: 550px;
    width: 550px;
  }
  main.post img:first-of-type {
    height: 550px;
    width: 550px;
  }
  main.post img.aboutImg:first-of-type {
    width: 750px;
    border-radius: 30px;
  }
}
