---
sideTitle: 'Mosgren - Official Site'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Mosgren is a norwegian band based from
    Lillesand, Norway. Get to know or contact Mosgren here! Listen to the newest
    song Jericho on Spotify, iTunes or YouTube!"">
    <link rel="stylesheet" href="/assets/styles/style.css" type="text/css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <title>{{ sideTitle }}</title>
  </head>
  <body>
    <div class="siteWrapper">
      <div class="contentWrapper">
        {{ content | safe }}
      </div>

      <footer>
        <section class="socials">
          <p>Discover us on:</p>
          {%- for item in social -%}
          <a href="{{ item.url }}" target="_blank"
            ><i class="{{ item.iconClass }}"></i
          ></a>
          {%- endfor -%}
        </section>
        <p>&copy; Mosgren, 2020</p>
        <p>
          Developed by
          <a
            href="https://www.linkedin.com/in/filip-piotr-szutkowski/"
            target="_blank"
          >
            Filip Szutkowski</a
          >.
        </p>
      </footer>
    </div>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
